.product-details {
  display: flex;
  gap: 20px;
}

.product-image img {
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.current-order-box {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.join-order-form {
  margin-top: 20px;
}

.join-order-form .form-group {
  margin-bottom: 15px;
}
